{
  "root": true,
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": "@sparted",
  "ignorePatterns": [
    "/dist/**"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts"
        ]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": "off"
  }
}
